body {
    text-align: center;
}
.center-width {
    display: flex;
    justify-content: center;
}
.center-height {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}