.🦠🦠,.💉💉 {
    display: flex;
    flex-wrap: wrap;
}

.source,.sym {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: inherit;
    font-size: 1.5em;
    border-bottom: solid #24242424 0.1pc;
    background: #DBDBDB08;
    padding: inherit;
}

.💀,.🦠,.😊,.📅,.☝️,.✌️,.🤟,.💉 {
    font-size: 2.25em;
}

.value {
    justify-content: center;
    width: 10pc;
    padding: 0.0125pc;
    display: flex;
    align-items: center;
    max-height: 150px;
    font-size: 1.7pc;
}

.item {
    background: #DBDBDB40;
}

.item {
    flex-direction: column;
    display: flex;
    margin: 1.125pc;
    margin-bottom: 0;
    height: 10pc;
    width: 10pc;
    border-radius: 3pc;
    text-align: center;
    color: black;
    font-size: 2em;
}
.items {
    margin: 1.42pc;
    height: 30pc;
    width: 25pc;
    /* background: green; */
    display: flex;
    border-radius: 3pc;
    display: flex;
    flex-wrap: wrap;
}
