body {
    /* background: #ffdededb; */
    background: #242424;
    overflow-x: hidden;
    min-height: max-content;
    overscroll-behavior:inherit;
}
a {
    text-decoration: none;
}
html,body,div {
    /* height: 100%; */
}
body,div {
    /* height: 100%; */
    margin: 0;
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
}