body {
    /* background: #ffdededb; */
    background: #242424;
    overflow-x: hidden;
    min-height: max-content;
    overscroll-behavior:inherit;
}
a {
    /* border-radius: 9999px;
    margin-bottom: 1.25pc;
    background: #DBDBDB20;
    border: #ee82ee77 solid 0.1pc; */
    text-decoration: none;
    /* font-weight: bolder;
    color: #242424C0;
    padding: 0.75pc; */
}
html,body,div {
    height: 100%;
}
body,div {
    /* height: 100%; */
    margin: 0;
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
}